{% extends "base.html" %}

{% block title %}Blogs{% endblock %}

{% block css %}

<style>
  body{
  margin-top: 100px;
  margin-button: 100px;
}
</style>

{% endblock %}

{% block content %}

{% for article in articles %}
  <a href="{{ article['url'] }}">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ article['imgUrl'] }}" class="img-fluid rounded-start" alt="">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ article['name'].title() }}</h5>
              <p class="card-text"></p>
              <p class="card-text"><small class="text-muted">Source: {{ article['source'] }}</small></p>
            </div>
          </div>
        </div>
      </div>
  </a>
{% endfor %}
{% endblock %}